.header {
  position: relative;

  border-bottom: 1px solid #ececec;

  &__block {
    display: flex;
    align-items: center;
    height: 60px;

    @media screen and (max-width: 767px) {
      max-width: 767px;
      justify-content: space-between;
    }

    @media screen and (min-width: 768px) {
      height: 80px;
      justify-content: space-between;
    }

    @media screen and (min-width: 1200px) {
      font-weight: 700;
      letter-spacing: 0.02em;
    }
  }

  &__nav {
    @media screen and (min-width: 768px) {
      margin-right: 96px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 315px;
    }
  }
}
