.header {
    border-bottom: 1px solid #ececec;

    @media screen and (max-width:480px) {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    &__block {
        text-align: left;
        background-color: var(--white-color);
        // font-weight: 500;
        // letter-spacing: 0.02em;
        // display: flex;
        // align-items: center;

    }

    &__nav {
        // margin-left: 93px;
    }

    &__auth {
        // margin-left: auto;
    }
}

