.benefits {
    &__title {
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    // &__list {
    //     display: flex;
    //     text-align: left;
    // }

    &__item {
        // width: 270px;

        &:not(:last-child) {
            margin-bottom: 30px;
            // margin-right: 30px;
        }
    }

    &__block {
        @extend %flex-centered;
        // width: 270px;
        height: 120px;

        border-radius: 4px;
        background-color: var(--bgc-team-section);

        margin-bottom: 30px;
    }

    &__text {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: .03em;
        text-align: left;
    }
}






