.input {
        margin: 0;
        width: 100%;
        font-size: 16px;
        border-radius: 4px;

        &:hover,
        &:focus {
                border-color: var(--accent-text-color);
                cursor: pointer;
        }
}