.social {
    @extend %flex-centered;

    &__link:not(:last-child) {
        margin-right: 10px;
    }

    &__icon {
        fill: var(--icon-color);

        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
            borsrd-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__item {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        @extend %flex-centered;

        transition-property: background-color, border-radius;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background-color: var(--accent-text-color);

            & .social__icon {
                fill: var(--white-color);
            }
        }
    }
}


