body {
    background-color: var(--white-color);
    color: var(--main-text-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--title-text-color);
    margin-top: 0;
    margin-bottom: 0;
}

p,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}